apiVersion: "sparkoperator.k8s.io/v1beta2"
kind: SparkApplication
metadata:
  name: docling-spark-job
  namespace: docling-spark
spec:
  type: Python
  pythonVersion: "3"
  mode: cluster
  image: quay.io/rishasin/docling-spark:latest
  imagePullPolicy: Always
  timeToLiveSeconds: 1200  # <--- ADD THIS LINE (Keeps pod for 2 minutes)
  mainApplicationFile: local:///app/scripts/run_spark_job.py
  arguments:
    - "--input-dir"
    - "/app/assets"
    - "--output-file"
    - "/app/output/results.jsonl"
  sparkVersion: "3.5.0"
  restartPolicy:
    type: Never
  driver:
    cores: 1
    coreLimit: "1200m"
    memory: "4g"
    labels:
      version: 3.5.0
    serviceAccount: spark-driver
  executor:
    cores: 1
    instances: 2
    memory: "4g"
    labels:
      version: 3.5.0
